<% content_for :title, "Editing guide" %>

<h1>Editing guide</h1>

<%= render "form", guide: @guide %>

<br>

<div>
  <%= link_to "Show this guide", @guide %> |
  <%= link_to "Back to guides", guides_path %>
</div>
