<p style="color: green"><%= notice %></p>

<% content_for :title, "Guides" %>

<h1>Guides</h1>

<div id="guides">
  <% @guides.each do |guide| %>
    <%= render guide %>
    <p>
      <%= link_to "Show this guide", guide %>
    </p>
  <% end %>
</div>

<%= link_to "New guide", new_guide_path %>
